@use '@/shared/styles/variables' as *;

.loaderWrapper {
  position: relative;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.loader {
  display: inline-block;

  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-bottom: 4px solid transparent;
  border-left: 4px solid $accent-500;
  border-radius: 50%;

  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}