@use '@/shared/styles/variables' as *;

.wrapper {
  display: flex;
  align-items: center;
}

.Item {
  all: unset;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid $light-100;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s;
  }
  &:hover:before {
    opacity: 1;
    background-color: $dark-300;
  }
  &:active:before {
    opacity: 1;
    background-color: $dark-100;
  }
  &:focus:before {
    opacity: 1;
    background-color: $dark-500;
  }
  &:disabled {
    cursor: not-allowed;
    border-color: $dark-100;
    & .Indicator {
      &::after {
        background-color: $dark-100;
      }
    }
    & ~ .Label {
      color: $dark-100;
      cursor: not-allowed;
    }
  }
  &:disabled:before {
    opacity: 0;
  }
}

.Indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $light-100;
  }
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
  padding-left: 15px;
  cursor: pointer;
}