@use '@/shared/styles/variables' as *;

.postSlide {
  width: 100%;
  max-height: 100%;
}

.navigationButton {
  display: flex;
  background-color: rgba(165, 168, 173, 0.7);
  opacity: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 38%;
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s;
  & svg {
    width: 24px;
    height: 24px;
  }
}

.navigationButton:disabled {
  display: none;
}

.navigationButtonPrev {
  left: 0;
}

.navigationButtonNext {
  right: 0;
}

.postSlider:hover .navigationButton {
  opacity: 1;
}

.postSlider:hover .pagination {
  opacity: 1;
}

.postSlider {
  min-width: 100%;
  max-height: 100%;
}

.postImage {
  width: 100%;
  cursor: pointer;
  //max-height: 100% !important;
  transition: all 0.4s ease-out;

  @keyframes show-image {
    from {
      height: 120px !important;
    }
    to {
      height: 100% !important;
    }
  }
}

.trimPostImage{
  height: 120px !important;
  object-fit: cover;
  transition: all 0.4s ease-in;

  @keyframes less-image {
    from {
      height: 100% !important;
    }
    to {
      height: 120px !important;
    }
  }
}

.imagePlug {
  width: 100%;
  height: 100%;
  background-color: $dark-100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: $light-300;
}


//Пагинация
// Pagination Container
.pagination {
  position: absolute;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
  border-radius: 2px;
  background: $dark-300;
  padding: 8px;
  display: flex;
  opacity: 0;


  @media (max-width: 768px) {
    bottom: 15px;
    gap: 6px;
  }
}

// Custom Pagination Dots
.paginationDot {
  width: 8px;
  height: 8px;
  background: $light-100;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    background: $light-100;
    opacity: 0.8;
    transform: scale(1.2);
  }

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
  }
}

.paginationDotActive {
  background: $accent-500;
  transform: scale(1.3);
}

.bulletActive {
  display: none;
}