@use '@/shared/styles/variables' as *;

.postSlide {
  width: 100%;
  max-height: 100%;
}

.navigationButton {
  cursor: pointer;

  position: absolute;
  z-index: 2;
  top: 38%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  opacity: 0;
  background-color: rgb(165 168 173 / 70%);

  transition: all 0.6s;

  & svg {
    width: 24px;
    height: 24px;
  }
}

.navigationButton:disabled {
  display: none;
}

.navigationButtonPrev {
  left: 0;
}

.navigationButtonNext {
  right: 0;
}

.postSlider:hover .navigationButton {
  opacity: 1;
}

.postSlider {
  min-width: 100%;
  max-height: 100%;
}

.postImage {
  cursor: pointer;
  width: 100%;
  max-height: 100% !important;
  transition: all 0.4s ease-out;

  @keyframes show-image {
    from {
      height: 120px !important;
    }

    to {
      height: 100% !important;
    }
  }
}

.trimPostImage{
  height: 120px !important;
  object-fit: cover;
  transition: all 0.4s ease-in;

  @keyframes less-image {
    from {
      height: 100% !important;
    }

    to {
      height: 120px !important;
    }
  }
}