@use '@/shared/styles/variables' as *;

.publishForm {
  display: flex;
  gap: 0;

  width: 100%;
  height: 100%;
  min-height: 400px;
}

.imageSection {
  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;

  background: $dark-300;
}

.imageContainer {
  position: relative; // Для позиционирования стрелочек

  overflow: hidden;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 500px;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: fill;

  // max-height: 400px;
}

.imageNavigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.imageDots {
  display: flex;
  gap: 8px;
}

.dot {
  cursor: pointer;

  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;

  background-color: rgb(255 255 255 / 50%);

  transition: background-color 0.2s ease;

  &.active {
    background-color: $light-100;
  }
}

// стили для стрелочек навигации
.sliderButton {
  cursor: pointer;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;

  background-color: rgba($dark-500, 0.8);

  transition: opacity 0.2s ease;

  &.backArrow, &.forwardArrow {
    top: 50%;
    transform: translateY(-50%);
  }

  &.backArrow {
    left: 50%;
    transform: translate(-120px, -50%); // Смещаем влево от центра
  }

  &.forwardArrow {
    right: 50%;
    transform: translate(120px, -50%); // Смещаем вправо от центра
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0;
  }

  &:hover:not(:disabled) {
    background-color: rgba($dark-500, 0.9);
  }

  svg {
    width: 24px;
    height: 24px;
    color: white;

    &:hover {
      color: $accent-500;
    }
  }
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 340px;
  padding: 16px 16px 60px;

  background-color: $dark-300;
}

.userInfo {
  display: flex;
  gap: 12px;
  align-items: center;

  padding-bottom: 16px;
  border-bottom: 1px solid $dark-100;
}

.avatar {
  overflow: hidden;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.avatarPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 12px;
  font-weight: 600;
  color: $light-100;

  background-color: $accent-500;
}

.username {
  font-size: 14px;
  font-weight: 600;
  color: $light-100;
}

.descriptionSection {
  display: flex;
  flex-direction: column;
}

.descriptionInput {
  resize: none;

  width: 300px;
  height: 120px;
  border: 1px solid $dark-100;
  border-radius: 2px;

  font-size: 14px;
  line-height: 1.4;
  color: $light-100;

  background-color: black;

  &::placeholder {
    color: $light-900;
  }

  &:focus {
    outline: none;
  }
}

.characterCount {
  padding-bottom: 16px;
  border-bottom: 1px solid $dark-100;

  font-size: 8px;
  color: $light-900;
  text-align: right;
}

.locationSection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationLabel {
  font-size: 14px;
  font-weight: 500;
  color: $light-900;
}

.locationInputContainer {
  display: flex;
  gap: 8px;
  align-items: center;

  padding: 8px 12px;
  border: 1px solid $dark-100;
  border-radius: 4px;

  background-color: $dark-500;
}

.locationInput {
  flex: 1;

  border: none;

  font-size: 14px;
  color: $light-100;

  background: transparent;

  &::placeholder {
    color: $light-900;
  }

  &:focus {
    outline: none;
  }
}

.locationIcon {
  cursor: pointer;
  border: none;
  font-size: 16px;
  background: none;
}

.locationSuggestions {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  left: 0;

  overflow-y: auto;

  max-height: 150px;
  border: 1px solid $dark-100;
  border-radius: 4px;

  background-color: $dark-500;
}

.locationSuggestion {
  cursor: pointer;

  width: 100%;
  padding: 12px;
  border: none;

  text-align: left;

  background: none;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: $dark-300;
  }
}

.locationName {
  font-size: 14px;
  font-weight: 500;
  color: $light-100;
}

.locationDetails {
  margin-top: 2px;
  font-size: 12px;
  color: $light-900;
}

.noImageMessage {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 16px;
  color: $light-900;
  text-align: center;
}

.sliderButton {
  cursor: pointer;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;

  background-color: rgba($dark-500, 0.8);

  transition: opacity 0.2s ease;

  &.backArrow, &.forwardArrow {
    top: 50%;
    transform: translateY(-50%);
  }

  &.backArrow {
    left: 11px;
  }

  &.forwardArrow {
    right: 11px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0;
  }

  &:hover:not(:disabled) {
    background-color: rgba($dark-500, 0.9);
  }

  svg {
    width: 8px;
    height: 15px;
    color: white;

    &:hover {
      color: $accent-500;
    }
  }
}