@use '@/shared/styles/variables' as *;
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 12px 24px;

  background-color: $dark-500;
  border: 1px solid $dark-300;
  border-radius: 2px;
}

.title{
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: $light-100;
}

.numbersContainer {
  display: flex;
  background: $dark-700;
  border: 1px solid $dark-300;
  border-radius: 2px;
  overflow: hidden;
  padding: 12px;
}

.digit {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: $light-100;
  width: 30px;
  height: 30px;
  border-right: solid 1px $dark-300;

  &:last-child{
    border-right: none;
  }
}
