@use '@/shared/styles/variables' as *;

.commentsWrapper {
  border-top: 1px solid $dark-100;
  border-bottom: 1px solid $dark-100;
  padding: 25px 25px 8px 25px;
  flex-grow: 1;
  max-height: 500px;
  scrollbar-width: none;
  overflow-x: hidden;
}