@use '@/shared/styles/variables' as *;

.usersWindow {
  max-width: 269px;
  width: 100%;
  border: 1px solid $dark-300;
  background-color: $dark-500;
  height: 100%
}

.userWindowTop {
  padding: 17px 12px;
  height: 71px;
}

.usersWindowItem {
  cursor: pointer;
  padding: 12px;
  display: flex;
  gap: 12px;
  border-top: 1px solid $dark-300;
}

.messageNotRead {
  background-color: $dark-100;
}

.usersWindowItemContent {
  width: 100%;
}

.usersWindowItemTop {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.usersWindowItemName {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: $light-100;
}
.usersWindowItemDate {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  text-align: right;
  color: $light-900;
}

.usersWindowItemText {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: $light-900;
}