@use '@/shared/styles/variables' as *;

.contentContainer {
  display: flex;
  gap: 38px;
  margin-bottom: 48px;
  padding-top: 36px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.userName {
  display: flex;
  gap: 12px;

  & > h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 180%;
  }
}

.foreignProfileButtons {
  display: flex;
  gap: 12px;
}

.statsButton {
  cursor: pointer;

  margin-bottom: 24px;
  border: none;

  color: $light-100;
  text-align: left;
}

.statsButton:disabled {
  cursor: default;
}

.userStats{
  display: flex;
  gap:100px
}

.statsCount {
  font-size: 14px;
  font-weight: 700;
  line-height: 171%;
}

.statsDescription {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
}

.userAbout{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $light-100;
}
