@use '@/shared/styles/variables' as *;

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.textFields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.instruction {
  margin-top: 10px;
  margin-bottom: 20px;
  color: $light-900;
  text-align: left;
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.captchaBlock {
  margin-bottom: 20px;
}

.text {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

