@use '@/shared/styles/variables' as *;


  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  .textFields {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .instruction {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    color: $light-900;
  }

  .buttonsBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  .captchaBlock {
    margin-bottom: 20px;
  }

  .text {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
  }

