@use '@/shared/styles/variables' as *;

.button {
  border-radius: 2px;
  padding: 4px 22px;
  cursor: pointer;
  line-height: 1.5;
  transition: 0.25s;
  border: 2px solid transparent;
}

.primary {
  background: $accent-500;

  &:hover{
    background: $accent-100;
  }
  &:active{
    background: $accent-700;
  }
  &:focus {
    border-color:$accent-700;
  }
  &:disabled {
    background: $accent-900;
    color: $light-900;
    cursor: not-allowed;
  }
}


.secondary {
  background: $dark-300;
  color: $light-100;
  &:hover{
    background: $dark-100;
  }
  &:active{
    background: $dark-400;
  }
  &:focus {
    border-color:$accent-300;
  }
  &:disabled {
    background: $dark-500;
    color: $light-900;
    cursor: not-allowed;
  }
}

.outline {
  background: none;
  border: 2px solid $accent-500;
  color: $accent-500;
  &:hover{
    border-color: $accent-100;
    color: $accent-100;
    background: none;
  }
  &:active{
    border-color: $accent-500;
    background: none;
  }
  &:focus {
    border-color:$accent-700;
    color: $accent-700;
    background: none;
  }
  &:disabled {
    border-color: $accent-900;
    color: $accent-900;
    background: none;
    cursor: not-allowed;
  }
}

.text {
  border: 2px solid transparent;
  background: none;
  color: $accent-500;
  &:hover{
    border-color: $accent-100;
    color: $accent-100;
    background: none;
  }
  &:active{
    border-color: $accent-500;
    background: none;
  }
  &:focus {
    border:2px solid $accent-700;
    color: $accent-700;
    background: none;
  }
  &:disabled {
    border-color: $accent-900;
    color: $accent-900;
    background: none;
    cursor: not-allowed;
  }
}

.fullWidth{
width: 100%;
}

