@use '@/shared/styles/variables' as *;

.postItem {
  position: relative;
  width: 234px;
}

.userInfo{
  display: flex;
  gap: 12px;
  align-items: center;

  margin-top: 12px;
  margin-bottom: 12px;
}

.userName{
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.time{
  font-size: 12px;
  font-weight: 400;
  line-height: 133%;
  color: $light-900;
}

.description{
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  text-overflow: ellipsis;
}

.showMoreButton{
  margin-left: 5px;
  padding: 0;
  border: none;

  &:focus,&:active{
    border: none;
    outline: none;
  }
}