@use '@/shared/styles/variables' as *;
.container {
background-color:$dark-500;
    border-radius: 2px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
width: 222px;
    height: 222px;
    &:hover {

        background-color: $dark-900;
    }
}

.dragOver {
    border-color: #3b82f6 !important;
    background-color: #dbeafe;
}

.fileInput {
    display: none;
}

.content {
    color: #4b5563;
}

.icon {
    width: 3rem;
    height: 3rem;
    margin: 0 auto 1rem;
}

.title {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}

.hint {
    font-size: 0.75rem;
    color: #6b7280;
    margin-top: 0.5rem;
}