@use '@/shared/styles/variables' as *;

.container {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 222px;
  padding: 2rem;
  border-radius: 2px;

  background-color: $dark-500;

  transition: all 0.2s ease;

  &:hover {
    background-color: $dark-900;
  }
}

.dragOver {
  background-color: $dark-900;
}

.fileInput {
  display: none;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;

  width: 222px;
  max-width: 222px;
  margin-top: 72px;
  margin-bottom: 58px;
}

.buttonUploadContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonUploadItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.photoUploadBg{
  width: 36px;
  height: 36px;
  color: white;
}
