@use '@/shared/styles/variables' as *;

.container {
  position: absolute;
  right: 11px;
  bottom: 50px;

  display: flex;
  gap: 12px;

  padding: 12px;

  background-color: rgba($dark-500, 0.8);
}

.thumbnailContainer {
  display: flex;
  gap: 12px;
  max-width: 344px;
}

.imageContainer{
  position: relative;
  width: 80px;
  height: 80px;

  & img {
    width: 100%;
    height: 100%;
  }

  &.selected{
  border:2px solid $accent-500;
    filter: saturate(120%) brightness(1.5);
}
}

.deleteIconContainer{
  cursor: pointer;

  position: absolute;
  top: 3px;
  right: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 12px;
  height: 12px;

  background-color: rgba($dark-500, 0.8);
}

.deleteIconBtn{
  width: 12px;
  height: 12px;
  color: white;
}

.plusIcon{
  width: 36px;
  height: 36px;
  color: white;
  transition: all .4s;

  &:hover,&:active{
    cursor: pointer;
    color:$accent-500;

  }

}