@use '@/shared/styles/variables' as *;
.content {
  padding: 1rem 0;
  max-width: 486px;
}

.personChat {
  margin-bottom: 1.7rem;
  margin-left: 0.85rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: $light-100;
  text-align: start;
}

.actions {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
}

.cancelButton,
.confirmButton {
  min-width: 80px;
  padding: 0.5rem 2.5rem;
}

.confirmButton {


  &:hover:not(:disabled) {
    background-color: $accent-700;
    border-color: $accent-700;
    color:$light-100;
  }
}

.cancelButton {


  &:hover:not(:disabled) {
    background-color:$accent-700;
    border-color: $accent-700;
    color:$light-100;
  }
}