@use '@/shared/styles/variables' as *;

.Root{
  position: relative;

  &:has(input:not(:disabled)):active .searchIcon {
    transition: 0.25s;
    color: $light-100;
  }

  &:has(input:not(:disabled)):active ::placeholder {
    transition: 0.25s;
    color: $light-100;
  }
  &:has(input:disabled) .searchIcon{
    color: $dark-100;
  }
  &:has(input:disabled) .inputLabel {
    color: $dark-100;
  }
  &:has(input:disabled) ::placeholder {
    color: $dark-100;
  }
}

.inputLabel{
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: $light-900;
  line-height: 170%;
}

.Input {
  all: unset;
  width: 100%;
  padding: 6px 12px;

  border: 1px solid $dark-100;
  border-radius: 2px;
  outline: none;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;


  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  transition: 0.25s;

  &:focus-within {
    border-color: $accent-500;
  }
  &:hover {
     border-color: $light-900;
   }
  &:active{
    border-color: $light-100;
  }
  &:disabled {
    cursor: not-allowed;
    border-color: $dark-100;
  }
}

.Input:has(input:disabled) {
  cursor: not-allowed;
  border-color: $dark-100;
  &:hover {
    border-color: $dark-100;
  }
}

.Input:disabled ~ .Toggle .EyePasswordIcon {
  cursor: not-allowed;
  color: $dark-100;
}

.Toggle {
  all: unset;
  color: inherit;
  position: absolute;
  right: -12px;
  bottom: 7px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.searchIcon{
  color: $light-900;
}

.EyePasswordIcon{
  color: $light-100
}

.inputErrorText{
  position: absolute;
  color: $danger-500;
  font-size: 14px;
}

.inputError{
  border: 1px solid $danger-500;

}

