@use '@/shared/styles/variables' as *;

.likeButton {
  cursor: pointer;
  /*margin-right: 8px;*/
}

.disabled {
  opacity: .5;

  &:hover {
    cursor: auto;
  }
}

.comment {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}




