@use '@/shared/styles/variables' as *;

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid $dark-100;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.headerTitle {
  cursor: pointer;

  font-family: inherit;
  font-size: 26px;
  font-weight: 600;
  line-height: 138%;
  color: $light-100;
}

.headerGroupContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonNotification {
  all: unset;

  cursor: pointer;

  position: relative;

  width: 24px;
  height: 24px;
  margin-right: 45px;
}

.notificationCount {
  position: absolute;
  right: -2px;
  bottom: 15px;

  width: 15px;
  height: 15px;
  padding-top: 3px;
  border-radius: 50%;

  font-size: 10px;
  font-weight: 500;
  line-height: 80%;
  text-align: center;

  background-color: $danger-500;
}

.buttonGroupLogin {
  display: flex;

  & > *:nth-child(1) {
    margin-right: 36px;
  }

  & > *:nth-child(2) {
    margin-right: 24px;
  }
}
