@use '@/shared/styles/variables' as *;

.header{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
  border-bottom: 1px solid $dark-100;
  z-index: 10;
}

.headerTitle {
  font-family: inherit;
  font-weight: 600;
  font-size: 26px;
  line-height: 138%;
  color: $light-100;
  cursor: pointer;
}
.headerGroupContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonNotification{
  all: unset;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 45px;
}

.notificationCount{
  position: absolute;
  bottom: 15px;
  right: -2px;

  width: 15px;
  height: 15px;

  font-weight: 500;
  font-size: 10px;
  line-height: 80%;
  text-align: center;
  padding-top: 3px;


  border-radius: 50%;
  background-color: $danger-500;
}
.buttonGroupLogin{
  display: flex;

  &>*:nth-child(1){
    margin-right: 36px;
}
  &>*:nth-child(2){
    margin-right: 24px;
  }
}
