@use '@/shared/styles/variables' as *;

.imageEditor {
  overflow: hidden;
}

.editorArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 492px;
  height: 503px;
}

.imageContainer {
  width: 492px;
  height: 503px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;


  &[data-ratio="1/1"] {
    max-width: 400px;
    max-height: 400px;
  }

  &[data-ratio="4/5"] {
    max-width: 400px;
    max-height: 500px;
  }

  &[data-ratio="16/9"] {
    max-width: 500px;
    max-height: 281px;
  }


  &[data-ratio="base"] {
    max-width: 492px;
    max-height: 503px;
  }
}

.editableImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
object-position: top;
}

// Слайдер
.sliderControls {
  display: flex;
  align-items: center;
  justify-content: center;


}

.sliderButton {
  background-color: rgba($dark-500, 0.8);
  width: 36px;
  height: 36px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.backArrow, &.forwardArrow {
    top: 50%;
    transform: translateY(-50%);
  }

  &.backArrow {
    left: 11px;
  }

  &.forwardArrow {
    right: 11px;
  }

  &.scaleArrow {
    bottom: 11px;
    left: 11px;
  }

  &.zoomArrow {
    bottom: 11px;
    left: 71px;
  }

  &.multipleArrow {
    bottom: 11px;
    right: 11px;
  }

  &:disabled {
    opacity: 0;
    cursor: not-allowed;
  }
}

.iconstyle {
  width: 24px;
  height: 24px;
  color: white;


  &:active, &:hover, &:focus {
    color: $accent-500
  }

  &.iconActive {
    color: $accent-500
  }
}

.sliderDots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: flex;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background: $light-900;
  cursor: pointer;
  transition: background 0.2s ease;

  &.active {
    background: $accent-500;
  }

  &:hover {
    background: $accent-500;
  }
}

.skeletonContainer{
  position: relative;
  overflow: hidden;
}
.skeletonArea{
  position: absolute;
  display: flex;
  bottom: 11px;
  width: 100%;
  padding-left: 11px;
  padding-right: 11px;
align-items: center;
  & .skeletonItem:last-child{
    justify-content: flex-end;
  }
}
.skeletonItem{
  display: flex;
  flex: 1;
}
