@use '@/shared/styles/variables' as *;

.postTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
}

.ownerInf {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: start;
}

.avatar {
}

.ownerName {
}