@use '@/shared/styles/variables' as *;

.root {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.fullWidth {
  width: 100%;
}

.center {
  justify-content: center;
}

.spinner {
  box-sizing: border-box;
  width: var(--size, 24px);
  height: var(--size, 24px);
  border: var(--thickness, 3px) solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;

  animation: spin var(--speed, 0.8s) linear infinite;
}

.primary {
  color: $accent-500
}

.secondary {
  color: $light-900;
}

.label {
  user-select: none;
  font-size: 0.875rem;
  color: $light-900;
  opacity: 0.8;
}

.srOnly {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}