@use '@/shared/styles/variables' as *;

.settingPageSubscriptions {
  padding-top: 30px;
}

.accountType{
  margin-bottom: 42px;
}

.subscriptionsType{
  margin-bottom: 24px;
}

.title{
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.stripeButton{
  width: 96px;
  height:64px;
  padding: 0;
  border: 1px solid $dark-300;
  border-radius: 6px;

  background-color: $dark-500;
}

.buttonWrapper{
  display: flex;
  gap: 50px;
  justify-content: flex-end;
}

.currentSubscriptionInfo{
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.infoGroup{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoTitle{
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: $light-900;
}

.infoDate{
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
  color: $light-100;
}

.checkBoxReneval{
  margin-top: 12px;
  margin-bottom: 18px;

  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: $light-100;
}

.modalContent {
  display: inline-block;
  min-width: 376px;
  max-width: 330px;
  margin-bottom: 18px;
}

.buttonsModal {
  min-width: 100%;

  button {
    min-width: 100%;
  }
}