.select {
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    width: 180px;
    height: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.select:focus {
    border: 1px solid #000;
}


.option:hover {
}
