@use '@/shared/styles/variables' as *;

// основной контейнер
.filtersPanel {
  display: flex;
  gap: 24px;

  width: 100%;
  height: 100%;
  min-height: 400px;
}

// контейнер для изображения и слайдера интенсивности
.previewSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

// контейнер для превью изображения
.previewContainer {
  position: relative; // Для позиционирования стрелочек

  overflow: hidden;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 500px;
  border-radius: 2px;

  background: $dark-300;
}

// стили для основного изображения
.previewImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

// сетка для миниатюр фильтров
.filtersGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  max-height: 400px;
  padding: 20px;
}

//  стили для каждого элемента фильтра с hover и selected состояниями
.filterItem {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  border-radius: 4px;

  transition: all 0.2s ease;

  &:hover {
    background-color: $dark-300;
  }

  &.selected {
    background-color: $accent-500; // Фон выбранного элемента

    .filterName {
      font-weight: 600;
      color: $light-100;
    }
  }
}

// контейнер для миниатюры фильтра
.filterPreview {
  overflow: hidden;

  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  border-radius: 4px;

  transition: border-color 0.2s ease;

  .selected & {
    border-color: $accent-500;
  }
}

// стили для миниатюр изображений
.filterThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// стили для названий фильтров
.filterName {
  font-size: 12px;
  color: $light-900;
  text-align: center;
  transition: color 0.2s ease;
}

 // сообщение при отсутствии изображения если отставить проверку пришло изображение или нет
 // но по факту оно не может не придти
 .noImageMessage {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 100%;
   height: 100%;

   font-size: 16px;
   color: $light-900;
   text-align: center;
 }

// контейнер для слайдера интенсивности
.intensityControl {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  padding: 14px;
  border-radius: 4px;

  background-color: $dark-300;
}

// стили для элементов управления интенсивностью:
//  intensityLabel, intensitySlider, intensityValue
.intensityLabel {
  font-size: 14px;
  font-weight: 500;
  color: $light-100;
}

.intensitySlider {
  width: 100%;
  height: 4px;
  border-radius: 2px;

  appearance: none;
  background: $dark-100;
  outline: none;

  &::-webkit-slider-thumb {
    cursor: pointer;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    appearance: none;
    background: $accent-500;
  }

  &::-moz-range-thumb {
    cursor: pointer;

    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;

    background: $accent-500;
  }
}

.intensityValue {
  font-size: 12px;
  color: $light-900;
  text-align: center;
}

// стили для навигации между изображениями (поверх изображения)
.imageNavigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.imageDots {
  display: flex;
  gap: 8px;
}

.dot {
  cursor: pointer;

  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;

  background-color: rgb(255 255 255 / 50%);

  transition: background-color 0.2s ease;

  &.active {
    background-color: $light-100;
  }

  &:hover {
    background-color: rgb(255 255 255 / 70%);
  }
}

// стили для стрелочек навигации
.sliderControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderButton {
  cursor: pointer;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;

  background-color: rgba($dark-500, 0.8);

  transition: opacity 0.2s ease;

  &.backArrow, &.forwardArrow {
    top: 50%;
    transform: translateY(-50%);
  }

  &.backArrow {
    left: 11px;
  }

  &.forwardArrow {
    right: 11px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0;
  }

  &:hover:not(:disabled) {
    background-color: rgba($dark-500, 0.9);
  }

  svg {
    width: 8px;
    height: 15px;
    color: white;

    &:hover {
      color: $accent-500;
    }
  }
}

