@use '@/shared/styles/variables' as *;

.Root {
  width: 100%;
}

.List {
  display: flex;
  margin-bottom: 20px;
}

.Trigger {
  all: unset;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 2px;
  padding: 6px 24px;
  cursor: pointer;
  line-height: 1.5;
  transition: 0.25s;
  border-bottom: 2px solid transparent;

  &:hover {
    background: rgba($accent-900, 0.15);
  }

  &[data-state='active'] {
    background: rgba($accent-100, 0.15);
  }

  &:focus {
    background: none;
    outline: 2px solid $accent-700;
  }

  &[data-disabled] {
    background: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  color: $accent-500;

  &[data-state='active'] {
    border-bottom-color: $accent-500;
  }
}

.secondary {
  color: $dark-100;

  &[data-state='active'] {
    border-bottom-color: $dark-100;
  }

  &[data-disabled] {
    color: $dark-300;
    border-bottom-color: $dark-300;
  }
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Content {
  outline: none;
  animation: fadeIn 0.2s ease;

  &[data-state='inactive'] {
    animation: fadeOut 0.1s ease;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}