@use '@/shared/styles/variables' as *;

.chatPersonTitleWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background-color: $dark-500;
  border: 1px solid $dark-300;
  height: 74px;
}