@use '@/shared/styles/variables' as *;

.postMetaInf {
  padding: 16px 25px 6px 25px;
  border-bottom: 1px solid $dark-100;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin-bottom: 20px;

  .likeButton {
    cursor: pointer;
  }

  .leftControl {
    margin-left: auto;
  }
}

.avatarsWhoLikes {
  display: flex;
  justify-content: start;
  gap: 12px;
  margin-bottom: 5px;
}

.likesCount {
}

.postCreationTime {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: $light-900;
}

