@use '@/shared/styles/variables' as *;

.postMetaInf {
  padding: 16px 25px 6px 25px;
  border-bottom: 1px solid $dark-100;
}

.avatarsWhoLikesWrapper {
  display: flex;
}

.avatars{
  margin-left: -10px;
}

.avatars:first-child {
  margin-left: 0;
}

.avatars:hover {
  z-index: 10; /* Поднимает аватар при наведении */
}

.likesCount {
  margin-left: 15px;
}

.postCreationTime {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: $light-900;
}

