
@use '../../../../../shared/styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-500;
  width: 380px;
  padding: 24px;

  & a {
    text-decoration: none;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .textFields {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .instruction {
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-text-link-secondary);
    text-align: left;
  }

  .buttonsBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  .captchaBlock {
    margin-bottom: 20px;
  }

  .text {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
  }

}
