.modalContent {
  display: inline-block;
  min-width: 376px;
  max-width: 330px;
  margin-bottom: 18px;
}

.buttonsGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttonModal {
 display: block;
  width: 100%;
}