@use "@/shared/styles/variables" as *;

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-500;
  width: 380px;
  padding: 24px;
  min-height: 400px;
}

.title {
  text-align: center;
  margin-bottom: 13px;
}

.content {
  width: 100%;
}