@use '@/shared/styles/variables' as *;

.Content {
  background-color: $dark-500;
  border: 1px solid $dark-100;
  border-radius: 2px;
  min-width: 135px;
  display: flex;
  flex-direction: column;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-side="top"] {
    animation-name: slideDownAndFade;
  }

  &[data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  &[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  &[data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.Item {
  font-size: 14px;
  font-weight: 400;
  color: $light-100;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  min-height: 25px;
  padding: 8px 12px 8px 12px;
  position: relative;
  user-select: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &[data-highlighted] {
    background-color: $accent-300;
    color: var(--violet-1);
  }
}

.IconButton {
  all: unset;
  font-family: inherit;
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $light-100;
  user-select: none;

  &:hover, {
    color: $accent-500;
    cursor: pointer;
  }

  //&:focus {
  //  box-shadow: 0 0 0 2px black;
  //  color: $accent-500;
  //}
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
