@use '@/shared/styles/variables' as *;

.Content {
  will-change: transform, opacity;

  display: flex;
  flex-direction: column;

  min-width: 135px;
  border: 1px solid $dark-100;
  border-radius: 2px;

  background-color: $dark-500;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-side="top"] {
    animation-name: slideDownAndFade;
  }

  &[data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  &[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  &[data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.Item {
  user-select: none;

  position: relative;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: start;

  min-height: 25px;
  padding: 8px 12px;
  border-radius: 3px;

  font-size: 14px;
  font-weight: 400;
  color: $light-100;

  outline: none;

  &:hover {
    cursor: pointer;
  }

  &[data-highlighted] {
    color: var(--violet-1);
    background-color: $accent-300;
  }
}

.IconButton {
  all: unset;

  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  font-family: inherit;
  color: $light-100;

  &:hover, {
    cursor: pointer;
    color: $accent-500;
  }

  // &:focus {
  //  box-shadow: 0 0 0 2px black;
  //  color: $accent-500;
  // }
}

@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
