@use '@/shared/styles/variables' as *;

.settingPageInfo {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 24px;
}

.settingPageInfoForm {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-end;

  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 24px;

}

.settingPageInfoForm::after {
  content: '';

  position: absolute;
  right: 0;
  bottom: 70px;

  min-width: 130%;
  border-bottom: 1px solid  $dark-300;
}

.settingPageInfoContent {
  width: 100%;
}

.textRed {
  color: $danger-500;
}

.settingPageInfoInput {
  margin-bottom: 24px;
}

.datePickerWrapper {
  margin-bottom: 24px;
  padding: 0;
  border: none;
}

.countryWrapper {
  display: flex;
  gap: 24px;

  margin-bottom: 24px;
  padding: 0;
  border: none;
}

.formWrapper {
  display: flex;
  gap: 36px;
  width: 100%;
  padding-bottom: 20px;
}