@use '@/shared/styles/variables' as *;

.settingPageInfo {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.settingPageInfoForm {
  display: flex;
  gap: 36px;
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid $dark-300;
}

.settingPageInfoPhotoWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px
}

.avatarIconWrapper {
  width: 192px;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-500;
  border-radius: 50%;
  overflow: hidden; // Добавляем это свойство
  position: relative; // Добавляем для корректного позиционирования
}

.settingPageInfoContent {
  width: 100%;
}

.textRed {
  color: $danger-500;
}

.settingPageInfoInput {
  margin-bottom: 24px;
}

.datePickerWrapper {
  margin-bottom: 24px;
  border: none;
  padding: 0;
}

.countryWrapper {
  border: none;
  padding: 0;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.settingPageInfoSubmitButton {

}

.avatarPreview {
  width: 100%;
  height: 100%;
  object-fit: cover; // Это свойство обеспечивает заполнение области
  border-radius: 50%;
}

// Модальное окно
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.uploadModal {
  background: $dark-300;
  padding: 0;
  //width: 90%;
  width: 490px;
  min-height: 564px;
  position: relative;
}

// Заголовок модального окна
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 14px 5px;
  border-bottom: 1px solid $dark-100;
  margin-bottom: 20px;
}

.modalTitle {
  margin: 0;
  font-size: 20px;
  color: $light-100;
  font-weight: 700;
  line-height: 180%;
}

.closeButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $danger-300;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

// Область предварительного просмотра
.previewContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewArea {
  margin: 40px 80px;
  text-align: center;
  min-width: 222px;
  min-height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-500;
}

.previewContainer {
  width: 332px;
  height: 340px;
  overflow: hidden; // Обрезаем всё, что выходит за границы
  background-color: $dark-500;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover; // Ключевое свойство для заполнения области
  mask-image: radial-gradient(
                  circle 330px at 50% 50%,
                  black 50%,
                  rgba(0, 0, 0, 0.4) 50%);
}

// Сообщения об ошибках
.errorMessage {

  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: $light-100;
  background-color: $danger-900;
  margin: 0 24px;

  border: 1px solid $danger-500;
  border-radius: 2px;
  padding: 6px 44px 5px;
  width: 445px;
  //height: 60px;
}

// Основная кнопка действия
.mainActionButton {
  padding: 0 24px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .saveButton {
    margin-left: auto;
  }
}

// Скрытый input файла
.hiddenFileInput {
  display: none;
}