.cardWrapper {
  width: 281px;
  height: 395px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 38px 12px 60px 0 rgba(199, 199, 199, 0.6);
  padding: 14px;
  border-radius: 24px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;

}

.footerTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgba(148, 163, 184, 1)
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bid {
  display: flex;
  gap: 4px;
align-items: center;

  & p {
    font-weight: 500;
    font-size: 16.47px;
    line-height: 150%;
    letter-spacing: 0;
    vertical-align: middle;
    color: rgba(20, 20, 22, 1)
  }
}

.bitBtn {
  background-color: rgba(20, 20, 22, 1);
  border-radius: 12px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 14.12px;
  line-height: 150%;
  letter-spacing: 0.12px;
  vertical-align: middle;
  padding: 14.5px 24.5px;
  &:hover{
    cursor: pointer;
  }
}
.picture{
  position: relative;
  border-radius:23.48px;
  overflow: hidden;
  width: 253px;
  height: 253px;
  margin-bottom: 20px;
}

.descr{
  flex: 1;
  & p {
    font-weight: 600;
    font-size: 22px;
    color:rgba(20, 20, 22, 1);
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
  }
}
.timer{
  position: absolute;
  top: 14px;
  right: 11px;
  border-radius: 10px;
  gap: 12px;
  border-width: 1.18px;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  background-color: rgba(28, 29, 32, 0.35);
& p{
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}
}